/* Sesseragi 2018 - layout */

/* Panels */
.tagline {
  text-align: center;
}

/* grid */

.panel {
  background: transparent url(../img/page_background_gray.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #eee;
  padding-top: 0.5em;
  width: 100%;
  /* border-top: 1px solid turquoise; */
  clear: both;
}

.grid {
  width: 100%;
  overflow: hidden;
  clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  /* display: block; */
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.container {
  overflow: hidden;
  padding: 1em 2em;
}

.panel > .text > h1 {
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
}

footer, .grid {
  clear: both;
}

footer {
  background: transparent url(../img/page_background_gray.png);
  background-repeat: repeat-x;
  background-position: top;
  padding: 1em;
}

/* New Styles */

    nav { 
      display: none;
    }

    

    .callout {
      margin: 0 0 0 0;
      display: block;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: auto;
    }

    .callout > p {
      float: right;
    }

    /* This really needs a gutter on the left of the grid. */
    section h1 {
      padding-left: 1em;
    }

    section p {
      padding-left: 1em;
    }


    
.panel {
  background: transparent url(../img/page_background_gray.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #eee;
  padding-top: 0.5em;
  width: 100%;
}

.grid-content-img {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: 2% auto;
  grid-gap: 25px;
  margin-top: 0px;
}

.stupid_container_for_css_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin: 0;
  grid-gap: 3px;
  margin-top: 0px;
}