/**
 * Sesseragi Menu Component
 * CSS
 * (c) Steve Knoblock 2014-2020
 * MIT License
 */

 /*
nav { 
   
}
*/

#panel-menu-openx {
  display: block
}

#panel-menu-closex {
  display: none !important
}

.toggle {
    display: block;
}

.hide {
  display: none
}

.show {
  display: block
}

nav {
    background: transparent url(../img/page_background_gray.png);
    background-repeat: repeat-x;
    background-position: top;
}

nav {
    padding-bottom: 1em;
}

nav ul {
    list-style: none;
    margin: 0 0 0 0;
    padding-top: 1.5em;
    padding-left: 0.5em;
}
    
nav ul li {
    /*background: blue;*/
    list-style: none;
    /*float: left; */
    padding: 0;
    margin: 0;
    line-height: 2.0;
}

nav ul li a {
    color: black;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none
}

nav ul li a:visited { text-decoration: none };

.border-menux {
position: relative;
padding-left: 1.25em;
margin-left: 0.25em;
}

.border-menux:before {
    content: "";
    position: absolute;
    top: -0.10em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
    font-size: 2em;
}

#menu-button-text {
font-size: 1em
}

/* Seseragi 2018 - Media */
/* This media query reduces the number of columns to one.
 */
 @media (min-width: 255px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin: 0;
        grid-gap: 3px;
        margin-top: 0px;
    }
    .nav-gridoff {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      margin: 2% auto;
      grid-gap: 25px;
      margin-top: 0px;
    }
  }
  /* This media query reduces the number of columns to two.
   */
  @media (min-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0;
        grid-gap: 3px;
        margin-top: 0px;
    }
    .nav-gridoff {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin: 2% auto;
      grid-gap: 25px;
      margin-top: 0px;
    }
  }
  /* This media query reduces the number of columns to three.
   */
  @media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 0;
        grid-gap: 3px;
        margin-top: 0px;
    }
    .nav-gridoff {
      display: grid;
      /* grid-template-columns: 0.3fr 0.3fr 0.3fr; */
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      margin: 2% auto;
      grid-gap: 25px;
      margin-top: 0px;
    }
  }

  .nav-grid {
    transition-property: height;
    transition-duration: 4s;
    transition-delay: 2s;
  }

