/* Sesseragi 2015 */

body {
background-color: red;
/*background-color: #f1f1f1;*/
font-family: Georgia;
margin: 0;
padding: 0;
border: 0;
}


.flow-stream {
	min-width: 768px;
	background: transparent url(http://brandymorecastle.org/themes/seseragi/img/page_background_gray.png);
			background-repeat: repeat-x;
			background-position: top;
			padding: 8px;
			padding-left: 0;
			padding-right: 0;
			padding-top: 2em;
			margin: 8px;
}

.top {
	padding-top: 1em;
}

.prose {
font-size: 1.3em
}


h1 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.flow-stones {
margin: 0;
padding: 0;
border: 0;
	float: left;
	width: 48%;
	/* gradient background */
	background: transparent url(http://brandymorecastle.org/themes/seseragi/img/page_background_gray.png);
	background-repeat: repeat-x;
	background-position: top;
	
}

.stone {
	width: auto;
	padding-top: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 3em;
}
header.pagetopx {
background-color: #cfcfcf;
	height: 64px;
	padding: 6px;
	margin: 0 0 0 0;
	border: 0;
	padding: 
}

/* hgroup is the left half of the header, nav is the right half of the header */
header.pagetopx hgroup { float: left;
	/*width: 40%;*/
	/*height: 100%;*/
	/*float: left;*/
	 }

header hgroup h1.logo {
    /*background: transparent;*/
    margin-top: 0.25em;
	color: #f1f1f1; 
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	font-family: Georgia, serif;
	font-weight: normal;
	}
	


footer {
background-color: transparent;
	background: transparent url(http://brandymorecastle.org/themes/seseragi/img/footer_background_gray.png);
	margin: 2px;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	text-align: center
}



 
 header {
 	margin-top: 0;
 	padding-top: 2em;
 }

header hgroup h2.tagline {
  background: transparent;
	text-align: center;
	color: #3377AA;
	font-size: 0.75em;
}

 #slider {
 	background-color: #333;
 	width: 700px;
 	height: 500px;
 	margin: auto
 }
