/* Seseragi 2018 */
/* Seseragi 2018 - base */
/* Seseragi 2018 - fonts */
/* http://www.google.com/fonts#UsePlace:use/Collection:Lato|Lora|Inconsolata */
@import url(http://fonts.googleapis.com/css?family=Lato|Lora|Inconsolata);
/* Seseragi 2018 - Typography */
body {
  font-size: 1em;
  font-family: "Lora", "Georgia", "Times New Roman", "Times", serif;
}

p {
  font-size: 1.3em;
  line-height: 1.5;
  font-family: "Lora", serif;
}

pre {
  font-family: "Inconsolata", "Lucida Sans", monospace;
}

header hgroup h1.logo {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: normal;
}

header hgroup h2.tagline {
  background: transparent;
  text-align: center;
  color: #3377AA;
  font-size: 1em;
  font-family: "Lora", "Georgia", "Times New Roman", "Times", serif;
}

.top {
  padding-top: 1em;
}

.prose {
  font-size: 1.3em;
}

.wide-one-column h1 {
  text-align: center;
  font-size: 1.5em;
}

footer {
  background-color: transparent;
  background: transparent url("../img/footer_background_gray.png");
  margin: 2px;
  padding: 4px;
  text-align: center;
  font-size: 0.75em;
  text-align: center;
}

/* Sesseragi 2018 - layout */
body {
  background-color: #eee;
  /* move to base */
  margin: 0;
  padding: 0;
  border: 0;
}

/* Panels */
/*
.tagline {
  text-align: center;
}
*/
/* grid */
.panel {
  background: transparent url(../img/page_background_gray.png);
  /* move to base */
  background-repeat: repeat-x;
  /* move to base */
  background-position: top;
  /* move to base */
  background-color: #eee;
  /* move to base */
  padding-top: 0.5em;
  width: 100%;
  /* border-top: 1px solid turquoise; */
  clear: both;
}

/*
.grid {
  width: 100%;
  overflow: hidden;
  clear: both;
}
*/
.float_left {
  float: left;
}

.float_right {
  float: right;
}

/*
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
*/
/*
.clearfix:after {
  clear: both;
}
*/
/*
.clearfix {
  zoom: 1;
}
*/
/*
.clear {
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
*/
/*
.container {
  overflow: hidden;
  padding: 1em 2em;
}
*/
/*
.panel > .text > h1 {
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
}
*/
/*
footer, .grid {
  clear: both;
}
*/
footer {
  background: transparent url(../img/page_background_gray.png);
  /* move to base */
  background-repeat: repeat-x;
  /* move to base */
  background-position: top;
  /* move to base */
  padding: 1em;
}

/* New Styles */
nav {
  display: none;
}

.callout {
  margin: 0 0 0 0;
  display: block;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
}

.callout > p {
  float: right;
}

/* This really needs a gutter on the left of the grid. */
section h1 {
  padding-left: 1em;
}

section p {
  padding-left: 1em;
}

.panel {
  background: transparent url(../img/page_background_gray.png);
  /* move to base */
  background-repeat: repeat-x;
  /* move to base */
  background-position: top;
  /* move to base */
  background-color: #eee;
  padding-top: 0.5em;
  width: 100%;
}

.grid-content-img {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: 2% auto;
  grid-gap: 25px;
  margin-top: 0px;
}

.stupid_container_for_css_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin: 0;
  grid-gap: 3px;
  margin-top: 0px;
}

/* Seseragi 2018 - media */
/* This media query reduces the number of columns to one.
 */
@media (min-width: 255px) {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: 2% auto;
    grid-gap: 25px;
    margin-top: 0px;
  }
}
/* This media query reduces the number of columns to two.
 */
@media (min-width: 500px) {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 2% auto;
    grid-gap: 25px;
    margin-top: 0px;
  }
}
/* This media query reduces the number of columns to three.
 */
@media (min-width: 700px) {
  .grid-content {
    display: grid;
    /* grid-template-columns: 0.3fr 0.3fr 0.3fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 2% auto;
    grid-gap: 25px;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
