


/* Grid layout */
.grid-content {
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 1em;
    grid-gap: 25px;
    margin-top: 0px;
}
/* Grid panel */
.panel {
    padding: 1em;
}

/* Utility class for pinning an element to the top */
.pin {
    position: sticky; 
    top: 0;
    /* overflow-y: scroll; */
}

/* Utility class for centered text */
.centered {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}


/* Flows */

.flow {
    /* Necessary for the flow effect. This enables the text to scroll even if it is short. */
   height: 50%;
   position: sticky; 
   top: 0;
}


    .pin-to-top {
        position: sticky;
        top: 0;
        /* Critical to prevent sticky overlapping sticky header. */
        z-index: 1;
    }

    .scroller {
        height: 30%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-padding: 40px;
    }

    .message-panel { 
        height: 50%;
        background-color:mediumpurple;
        padding: 1em
    }

    .message {
        padding: 2em
    }

    .notebook-panel {
        height: 50%;
        background-color:gainsboro;
        padding: 1em;
    }