<!doctype html>
<html>
  <head>
    <title>Seseragi Theme Homepage</title>
    <meta name="description" content="Seseragi. A page calming design">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../shared-content/images/weather-clouds.png"/>
    <link rel="stylesheet" href="css/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato|Lora' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>
<body>

  <!-- it really does need to stick to the top, and reduce the length of the logo banner when menu is open 
  much less trouble when the whole header is pinned
  -->
<header class="panel pin-to-top">
  <hgroup>
    <h1 class="logo">Seseragi</h1>
    <h2 class="tagline">The sound of flowing water.</h2>
  </hgroup>
  <div class="" is='panel-menu'></div>
</header>