body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #eee;
	color: #333;
	font-size: 15px/22px;
	font-family: Georgia, serif;
}

a:link {
	color: #58a;
	text-decoration: none;
}

a:visited {
	color: #58a;
	text-decoration: none;
}

a:hover {
	color: #58a;
	text-decoration: none;
}

		
		.grid {
			background-color: #f1f1f1;
			width: 98.8%;
			margin: 0;
			border: 0;
			padding: 0;
			margin-top: 8px;
			margin-left: 8px;
			margin-right: 8px
		}
		
		.row1 {
			background-color: #cfcfcf
		}
		
		.row1, .row2 {
			overflow: hidden;
		}
		
		.col2, .col1 {
			float: left
		}
		
		.row1 .col1 {
			width: 50%;
			background: #cfcfcf;
		}
		
		.row1 .col2 {
			width: 50%;
			background-color: #cfcfcf;
		}
/* The background could not be set on div.row2 apparently because of the float, as a parent element, it collapses.
*/
		.row2 .col1 {
			width: 60%;
			background: transparent url(../img/page_background_gray.png);
			background-repeat: repeat-x;
			background-position: top;
			}
		
		.row2 .col2 {
			width: 40%;
			background-color: #cfcfcf;
			background: transparent url(../img/page_background_gray.png);
			background-repeat: repeat-x;
			background-position: top;
			}
		
		.row3 {
			width: 100%;
			}

footer {
	background: transparent url(../img/footer_background_gray.png);
	margin: 2px;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	text-align: center
}


header.pagetop {
	height: 64px;
	padding: 6px;
	margin: 0 0 0 0;
	border: 0;
	padding: 
}

/* hgroup is the left half of the header, nav is the right half of the header */
header.pagetop hgroup { float: left;
	/*width: 40%;*/
	/*height: 100%;*/
	/*float: left;*/
	 }

header.pagetop hgroup h1.logo {
    background: transparent;
    margin-top: 0.25em;
	color: #f1f1f1; 
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	font-family: Georgia, serif;
	font-weight: normal;
	}
	
header.pagetop hgroup h2.tagline {
    background: transparent;
	text-align: center;
	color: #3377AA;
	font-size: 0.75em;
}



/* Sitewide Navigation */
nav.sitewide {
	float: right;
	background: #cfcfcf;
	height: 64px;
	padding: 6px;
	border: none;
	font-family: Georgia, serif;
}

nav.sitewide {
	border: 0;
	padding-bottom: 0.5em; /* Deleting this prevents floating menu dividers in IE6, but is required to prevent overlap into feature area in FF1.5 Both look okay and are usable. */
	padding-left: 0;
	padding-right: 0;
	padding-top: 0.5em;
	text-align: right;
	background: transparent;
	color: white;
	height: 32px;
}

nav.sitewide ul {
	padding: 0;
	margin: 0;
	list-style: none;
	/*
	border-left: 1px solid #004e61;
	border-right: 1px solid #006486;
	*/
	position: relative;
	top: 0;
}

    
nav.sitewide ul li {
	list-style: none;
	float: left; 
	padding: 0;
	margin: 0;
}

nav.sitewide ul a:link, nav.sitewide ul a:visited {
	display: block;
	float: left;
	padding: 10px 15px;
	text-decoration: none;
	color: #fff /* #dee0e5 */;
	height: 16px;
	font-weight: normal;
	font-size: 1em;
	
}

nav.sitewide ul li a:hover {
	background: #b3b3b3;
	color: #fff;
	text-decoration: none;
	border-bottom: none;
}

.share {
 margin: 1em;
}


/*
 * Sections
 *
 */
 
section {
	padding: 1.3em;
	border: 1px dashed #ccc;
	margin: 1em;
	margin-bottom: 1.5em
}


/**
 * Sidebar
 */

#sidebar {
	width: 33%;
	float: right;
	padding: 4px;
}

h2.sidebar-title {
  margin:1.5em 0 .75em;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#999;
  }



#sidebar ul {
  margin: 0 0 1.5em;
  padding: 0 0 1.5em;
/*  border-bottom: 1px solid #b3b3b3;*/
  list-style: none;
}

#sidebar li {
  margin: 0;
  padding: 0 0 .25em 15px;
  text-indent: -15px;
  line-height: 1.5em;
}

#sidebar p {
  color:#666;
  line-height:1.5em;
}


.social {
	list-style: none;
	line-height: 2em;
	padding: 8px
}

ul.social li { }



.social a:link {
	/*color: #0AE;*/
	color: #58a;
	text-decoration: none
}

.social a:visited {
	/*color: #0AE;*/
	color: #58a;
	text-decoration: none
}

.social a:hover {
		color: #58a;
	text-decoration: none
}