<div class="panel grid">
    <section>

        <div class="callout">
            <a href="http://www.folkstreams.net"><img src="../shared-content/images/angel-stands-by-me.jpg"></a>
            <p><a href="http://www.folkstreams.net">Folkstreams</a> is American roots culture on video and more. I helped make it happen.</p>
        </div>

    </section>
    <section>

        <div class="callout">
            <a href="http://www.flickr.com/photos/knoblock/"><img src="../shared-content/images/concrete-leaves.jpg"></a>
            <p>I took my first photograph at five years old. You can see some of my work on <a href="http://www.flickr.com/photos/knoblock/">Flickr</a>.</p>
        </div>

    </section>
    <section>

        <div class="callout">
            Autumn leaves<br> brightest colors<br> in the rain
            <p>I write haiku and post them at <a href="http://twitter.com/haikuoftheday">@haikuoftheday</a></p>
        </div>

    </section>
</div>