<div class="panel text">
    
    <section>
        
        <blockquote style="padding:10%;font-size:1.3em;max-width:30em;line-height: 1.5">1. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was.
            <footer style="background:none">
                <cite class="title"></cite> <cite class="author"></cite> <cite class="location"></cite>
            </footer>
        </blockquote>

    </section>

</div>